  {{#each cart.products}}
  <div class="product" id ="{{_id}}">
    <div class="product-details">
      <div class="product-title">{{name}}</div>
    </div>
    <div class="product-price">{{decimal price}}</div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">{{decimal price}}</div>
  </div>
  {{/each}}
