  {{#each cart.products}}
  <div class="product" id ="{{_id}}">
    <div class="product-image">
      <img src="http://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png">
    </div>
    <div class="product-details">
      <div class="product-title">{{name}}</div>
    </div>
    <div class="product-price">{{price}}</div>
    <div class="product-quantity">
      <input type="number" value="1" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">{{price}}</div>
  </div>
  {{/each}}
