// .order-history {
//   padding: 0px 20px 20px 20px;
//   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: 100;
//   margin-left: 10px;
// }


.tablebilling {
  background-color: #e8e6e4;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0 auto;
overflow: auto;
margin-top: 25px;
}
.tableproducts {
  background-color: #e8e6e4;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0 auto;
}
