
// ******** LOGIN NAV DROP DOWN AND FORM sign-in / sign-up *********
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.sign-out {
  margin-bottom: 10px;
}
// ********* END OF NAV Login / Sign-up form **************
// ********* Error/success messages modals ****************

.alert {
  margin: 0 auto;
}
// ********* Error/success messages modals ****************

.cartcolor {
  color: white;
}
.glyphicon-shopping-cart {
  float: right;
  margin-top: 13px;
  font-size: 150%;
}
body {
  background-image: url('https://d2nwzygg3x0bhb.cloudfront.net/product-images/background.jpg');
  background-size: cover;
  background-position: center;

  padding-top: 70px;
}

.jumbotron {
  background-image: url('https://d2nwzygg3x0bhb.cloudfront.net/product-images/banner.gif');
  background-position:left;
  background-size: cover;
  color: #454241;
  font-family: 'Monoton';
  color: #70deda;
  font-weight: 900;
}

.cart-body {
  margin: 0 auto;
}

.checkout_form {
background: #e8e6e4;
}

.navbar-nav {
  float: right;
  margin-right: 4%;
}
